################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gh-abcs-actions/FileContentIndex/read.lock
