################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gh-abcs-actions/FileContentIndex/read.lock
/.vs/gh-abcs-actions/FileContentIndex/926e30e2-b9ee-472c-a81c-726f19aeb662.vsidx
/.vs/slnx.sqlite
